/**********  float  ***************/
.fl {
  float: left;
}
.fr {
  float: right;
}
/**********  clear  ***************/
.clear {
  clear: both;
  _zoom: 1;
}
.clear:after,
.clear:before {
  display: block;
  content: "clear";
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/**********  font  ***************/
.b {
  font-weight: bold;
}
.i {
  font-style: italic;
}
/**********  Text  ***************/
.to {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.tl {
  text-align: left;
}
/**********  margin  ***************/
.m0 {
  margin: 0;
}
.ml10 {
  margin-left: 10px;
}
.ml20 {
  margin-left: 20px;
}
.mr10 {
  margin-right: 10px;
}
.mr20 {
  margin-right: 20px;
}
.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
/**********  padding  ***************/
.p0 {
  padding: 0;
}
.p10 {
  padding: 10px;
}
.pl10 {
  padding-left: 10px;
}
.pt10 {
  padding-top: 10px;
}
.pr10 {
  padding-right: 10px;
}
.pb10 {
  padding-bottom: 10px;
}
.p20 {
  padding: 20px;
}
.pl20 {
  padding-left: 20px;
}
.pt20 {
  padding-top: 20px;
}
.pr20 {
  padding-right: 20px;
}
.pb20 {
  padding-bottom: 20px;
}
/**********  position  ***************/
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
/**********  display  ***************/
.dn {
  display: none;
}
.db {
  display: block;
}
.dib {
  display: inline-block;
}
.di {
  display: inline;
}
/**********  hide  ***************/
.hide {
  display: none;
}
.tra,
.login-tab-tit a,
.btn {
  transition: all .4s;
  -moz-transition: all .4s;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
}
.rd3 {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.li-fl li {
  float: left;
}
.btn {
  height: 36px;
  line-height: 36px;
  text-align: center;
  padding: 0;
  color: #fff;
  border: 0;
  cursor: pointer;
  border-radius: 2px;
}
.btn:focus {
  outline: none;
}
.btn-large {
  width: 250px;
  background-color: #f66985;
}
.btn-large:hover {
  background-color: #f47d95;
}
.btn-small {
  width: 97px;
  background-color: #fff;
  color: #f66985;
}
.btn-small:hover {
  background-color: #f66985;
  color: #fff;
}
.ipt,
select,
textarea {
  background-color: #fff;
  border: 0;
  padding: 8px;
  color: #666;
  border-radius: 3px;
  transition: all .4s;
  -moz-transition: all .4s;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
}
.ipt:focus,
select:focus,
textarea:focus {
  outline: none;
}
select {
  padding: 6px 7px;
}
::-webkit-input-placeholder {
  color: #999;
}
:-ms-input-placeholder {
  color: #999;
}
:-moz-placeholder {
  color: #999;
}
::-moz-placeholder {
  color: #999;
}
textarea {
  resize: none;
}
.chk,
.rad {
  position: relative;
  top: 2px;
}
.ipt-large,
.ipt-small {
  width: 207px;
  padding-left: 35px;
}
.ipt-small {
  width: 100px;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  color: #333;
  font-family: "Microsoft Yahei";
  font-size: 14px;
}
input,
textarea,
select {
  font-size: 100%;
  font-family: inherit;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
form {
  margin: 0;
}
ul,
ol {
  padding-left: 0;
  list-style-type: none;
}
img {
  border: 0;
}
a {
  text-decoration: none;
  color: #333;
}
a,
span {
  display: inline-block;
}
table {
  border: none;
  border-spacing: 0;
  border-collapse: collapse;
  background-color: #fff;
}
table th {
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  border: 1px solid #ddd;
  border-bottom: 2px solid #ddd;
}
table td {
  height: 40px;
  line-height: 40px;
  border: 1px solid #ddd;
  padding: 0 10px;
  text-align: center;
  font-size: 12px;
  vertical-align: middle;
}
.table .op a {
  padding: 3px;
  color: #3ca2e2;
}
.table .op a:hover {
  color: #54b1ec;
}
.rd-1 {
  border-radius: 3px;
}
.wrap-fp {
  width: 1200px;
  margin: 0 auto;
}
.wrap-t-2 {
  height: 100px;
  background: url("../images/top_white_bg.png") repeat-x;
  line-height: 90px;
  font-size: 30px;
  color: #000;
}
.find-password {
  margin-top: 30px;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 20px 20px 50px 20px;
}
.find-password .a-blue {
  color: #3ca2e2;
  padding: 0 10px;
}
.find-password .a-blue:hover {
  color: #288fd0;
}
.find-password .ico {
  background: url("../images/retrieve_password.png") no-repeat;
}
.find-password .prompt {
  color: #666;
  background: url("../images/prompt.png") no-repeat 0 4px;
  border-bottom: 1px dashed #ccc;
  padding: 0 0 10px 20px;
}
.find-password .rp-body {
  margin-top: 50px;
}
.find-password .rp-body .input-form {
  width: 338px;
  margin: 0 auto 15px auto;
  position: relative;
}
.find-password .rp-body .input-form .a-blue {
  padding: 0;
}
.find-password .rp-body .input-form .ipt-1,
.find-password .rp-body .input-form .ipt-2 {
  width: 320px;
  border: 1px solid #ddd;
  padding: 14px 8px 13px 8px;
  border-radius: 3px;
}
.find-password .rp-body .input-form .ipt-1:focus,
.find-password .rp-body .input-form .ipt-2:focus {
  outline: 0;
}
.find-password .rp-body .input-form .btn {
  width: 338px;
  height: 48px;
  line-height: 48px;
  background-color: #3ca2e2;
  color: #fff;
  font-size: 18px;
  border: none;
  display: inline-block;
  text-align: center;
}
.find-password .rp-body .input-form .btn:hover {
  background-color: #54b1ec;
}
.find-password .rp-body .input-form .btn:active {
  background-color: #3ca2e2;
}
.find-password .rp-body .input-form .btn-1 {
  width: 120px;
  line-height: 40px;
  background-color: #3ca2e2;
  color: #fff;
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
}
.find-password .rp-body .input-form .btn-1:hover {
  background-color: #54b1ec;
}
.find-password .rp-body .input-form .btn-1:active {
  background-color: #3ca2e2;
}
.find-password .rp-body .input-form .btn-2 {
  width: 120px;
  line-height: 40px;
  background-color: #999;
  color: #fff;
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
  cursor: no-drop;
}
.find-password .rp-body .input-form .v-code {
  width: 80px;
  height: 48px;
  display: inline-block;
  position: absolute;
  top: 5px;
  right: 55px;
}
.find-password .rp-body .input-form .v-code img {
  width: 80px;
  height: 40px;
}
.find-password .rp-body .input-form .refresh {
  width: 50px;
  height: 50px;
  display: inline-block;
  background: url("../images/retrieve_password.png") no-repeat -450px 0;
  position: absolute;
  top: 0;
  right: 0;
}
.find-password .rp-body .rp-step {
  width: 701px;
  margin: 0 auto;
  position: relative;
}
.find-password .rp-body .rp-step .step {
  width: 225px;
  height: 65px;
  line-height: 65px;
  text-align: center;
  margin-right: 10px;
  float: left;
  font-size: 20px;
  border-radius: 3px;
}
.find-password .rp-body .rp-step .step .num {
  font-size: 36px;
  padding-right: 5px;
}
.find-password .rp-body .rp-step .s-ed {
  background-color: #62baf2;
  border: 1px solid #3ca2e2;
  color: #fff;
}
.find-password .rp-body .rp-step .s-no {
  background-color: #e9e9e9;
  border: 1px solid #ccc;
  color: #999;
}
.find-password .rp-body .rp-step .s-current {
  background-color: #3ca2e2;
  border: 1px solid #3ca2e2;
  color: #fff;
}
.find-password .rp-body .rp-step .last-step {
  margin: 0;
}
.find-password .rp-body .rp-step .rp-arrow-1,
.find-password .rp-body .rp-step .rp-arrow-2 {
  width: 32px;
  height: 32px;
  display: block;
  position: absolute;
  top: 16px;
  left: 215px;
}
.find-password .rp-body .rp-step .rp-arrow-2 {
  left: 453px;
}
.find-password .rp-body .rp-st-b {
  width: 700px;
  margin: 0 auto;
  margin-top: 30px;
}
.find-password .rp-body .rp-st-b .bor {
  border-bottom: 1px dashed #ddd;
}
.find-password .rp-body .rp-st-b-1 {
  width: 550px;
  margin: 0 auto;
  margin-top: 50px;
}
.find-password .rp-body .rp-st-b-1 .ico {
  width: 80px;
  height: 80px;
}
.find-password .rp-body .rp-st-b-1 .ico-1 {
  background-position: -180px 0;
}
.find-password .rp-body .rp-st-b-1 .ico-2 {
  background-position: -270px 0;
}
.find-password .rp-body .rp-st-b-1 .ico-3 {
  background-position: -360px 0;
}
.find-password .rp-body .rp-st-b-1 .ico-4 {
  width: 36px;
  background-position: -121px 0;
}
.find-password .rp-body .rp-st-b-1 .txt,
.find-password .rp-body .rp-st-b-1 .txt-1,
.find-password .rp-body .rp-st-b-1 .txt-2 {
  width: 450px;
  font-size: 20px;
  color: #333;
  padding-left: 20px;
  margin-top: -5px;
  line-height: 1.5;
}
.find-password .rp-body .rp-st-b-1 .txt p,
.find-password .rp-body .rp-st-b-1 .txt-1 p,
.find-password .rp-body .rp-st-b-1 .txt-2 p {
  color: #999;
  font-size: 12px;
  margin-top: 30px;
}
.find-password .rp-body .rp-st-b-1 .txt-1 {
  margin-top: 10px;
}
.find-password .rp-body .rp-st-b-1 .txt-2 {
  margin-top: 20px;
}
.find-password .rp-body .rp-way {
  display: block;
  color: #999;
  padding: 20px 10px;
}
.find-password .rp-body .rp-way:hover {
  background-color: #fafafa;
}
.find-password .rp-body .rp-way .rp-txt {
  margin-top: -2px;
  margin-left: 10px;
}
.find-password .rp-body .rp-way .rp-txt span {
  display: block;
  font-size: 18px;
  color: #333;
}
.find-password .rp-body .rp-way-1 {
  padding: 10px 0;
}
.find-password .rp-body .rp-way-1 .rp-txt {
  margin-top: 5px;
}
.find-password .rp-body .rp-way-1 .rp-txt span {
  display: block;
  font-size: 18px;
  color: #333;
}
.find-password .rp-body .rp-way-icon,
.find-password .rp-body .rp-icon {
  background: url("../images/retrieve_password.png") no-repeat;
}
.find-password .rp-body .rp-way-icon {
  width: 54px;
  height: 44px;
  display: block;
}
.find-password .rp-body .rp-icon {
  width: 80px;
  height: 64px;
}
.find-password .rp-body .ico-1 {
  background-position: -50px 0;
}
.find-password .rp-body .ico-2 {
  background-position: -110px 0;
}
.find-password .rp-body .ico-3 {
  background-position: -190px 0;
}
.find-password .rp-body .ico-4 {
  background-position: -270px 0;
}
.find-password .rp-body .ico-5 {
  background-position: -360px 0;
}
.footer-fp {
  margin: 40px 0 30px 0;
  text-align: center;
  color: #999;
}
.footer-fp a {
  color: #999;
}
.footer-fp a:hover {
  color: #3ca2e2;
}
.fp-prompt {
  position: absolute;
  width: 300px;
  top: 0;
  left: 350px;
  line-height: 48px;
  color: #f47d95;
}
body {
  background-color: #f2f2f2;
}
.ico {
  background: url("../images/web-icons.png") no-repeat;
}
.main-wrap {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}
.header {
  height: 110px;
  background-color: #fff;
}
.header .logo {
  padding: 25px 0 0 0;
  font-size: 36px;
}
.header .qr-code {
  width: 150px;
  text-align: center;
  position: absolute;
  top: 5px;
  right: 0;
}
.header .qr-code img {
  height: 80px;
  border: 1px solid #ddd;
}
.header .qr-code p {
  position: relative;
  margin-top: -5px;
}
.banner-wrap {
  width: 100%;
  height: 500px;
  position: relative;
}
.banner-wrap .banner-pic {
  height: 500px;
  background: url("../images/banner-1.jpg") no-repeat center;
}
.banner-wrap .user-ranking,
.banner-wrap .user-ranking-1 {
  width: 600px;
  height: 224px;
}
.banner-wrap .user-ranking-1 {
  margin-top: 30px;
  border-top: 1px dashed #fff;
}
.banner-wrap .rank-mask {
  width: 600px;
  height: 220px;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../images/rank-mask.png") no-repeat 0 -102px;
}
.banner-wrap .rm-1 {
  background-position: 0 -333px;
}
.banner-wrap .rank-tit,
.banner-wrap .rank-tit-1 {
  color: #fff;
  font-size: 24px;
  padding: 50px 0 17px 0;
}
.banner-wrap .rank-tit-1 {
  padding-top: 30px;
}
.banner-wrap .rank-cont {
  color: #fff;
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.banner-wrap .rank-cont .ul-rank li {
  width: 90px;
  text-align: center;
  padding: 0 5px;
  margin-right: 10px;
  float: left;
}
.banner-wrap .rank-cont .ul-rank img {
  width: 90px;
  height: 90px;
}
.banner-wrap .rank-cont .ul-rank .pl5 {
  padding-left: 5px;
}
.banner-wrap .hide {
  display: none;
}
.login-box {
  width: 1000px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -500px;
}
.login-box .login {
  width: 310px;
  position: absolute;
  top: 100px;
  right: 0;
}
.login-box .login .login-tab-tit {
  height: 42px;
}
.login-box .login .login-tab-tit a {
  width: 125px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  margin: 0 2px 2px 0;
  text-align: center;
  background-color: #fff;
}
.login-box .login .login-tab-tit a:hover {
  color: #3ca2e2;
}
.login-box .login .login-tab-tit .current {
  margin-bottom: 0px;
  height: 42px;
  color: #fff;
  background: url("../images/login-bg.png");
}
.login-box .login .login-tab-tit .current:hover {
  color: #fff;
}
.login-box .login .login-cont {
  padding: 20px 30px 30px;
  background: url("../images/login-bg.png");
}
.login-box .login .login-style a {
  color: #ccc;
}
.login-box .login .login-style span,
.login-box .login .login-style .current {
  color: #fff;
}
.login-box .login .login-style span {
  padding: 0 10px;
}
.login-box .ul-form {
  margin-top: 20px;
}
.login-box .ul-form li {
  margin-top: 15px;
  color: #fff;
  position: relative;
}
.login-box .ul-form li .ico {
  width: 16px;
  height: 20px;
  position: absolute;
  top: 7px;
  left: 10px;
}
.login-box .ul-form li .ico-1 {
  background-position: -90px -80px;
}
.login-box .ul-form li .ico-2 {
  background-position: -110px -80px;
}
.login-box .ul-form li .ico-3 {
  background-position: -70px -80px;
}
.forget {
  color: #fff;
}
.forget:hover {
  text-decoration: underline;
}
.footer {
  padding: 50px 0;
  text-align: center;
}
.footer a:hover {
  color: #3ca2e2;
}
.no-data {
  color: #fff;
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
}
.no-data .pic {
  position: relative;
  top: 15px;
  margin-right: 10px;
}
