.btn {
  height: 36px;
  line-height: 36px;
  text-align: center;
  padding: 0;
  color: #fff;
  border: 0;
  cursor: pointer;
  border-radius: 2px;
}
.btn:focus {
  outline: none;
}
.btn-large {
  width: 250px;
  background-color: #f66985;
}
.btn-large:hover {
  background-color: #f47d95;
}
.btn-small {
  width: 97px;
  background-color: #fff;
  color: #f66985;
}
.btn-small:hover {
  background-color: #f66985;
  color: #fff;
}
