/**********  float  ***************/
.fl {
  float: left;
}
.fr {
  float: right;
}
/**********  clear  ***************/
.clear {
  clear: both;
  _zoom: 1;
}
.clear:after,
.clear:before {
  display: block;
  content: "clear";
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/**********  font  ***************/
.b {
  font-weight: bold;
}
.i {
  font-style: italic;
}
/**********  Text  ***************/
.to {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.tl {
  text-align: left;
}
/**********  margin  ***************/
.m0 {
  margin: 0;
}
.ml10 {
  margin-left: 10px;
}
.ml20 {
  margin-left: 20px;
}
.mr10 {
  margin-right: 10px;
}
.mr20 {
  margin-right: 20px;
}
.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
/**********  padding  ***************/
.p0 {
  padding: 0;
}
.p10 {
  padding: 10px;
}
.pl10 {
  padding-left: 10px;
}
.pt10 {
  padding-top: 10px;
}
.pr10 {
  padding-right: 10px;
}
.pb10 {
  padding-bottom: 10px;
}
.p20 {
  padding: 20px;
}
.pl20 {
  padding-left: 20px;
}
.pt20 {
  padding-top: 20px;
}
.pr20 {
  padding-right: 20px;
}
.pb20 {
  padding-bottom: 20px;
}
/**********  position  ***************/
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
/**********  display  ***************/
.dn {
  display: none;
}
.db {
  display: block;
}
.dib {
  display: inline-block;
}
.di {
  display: inline;
}
/**********  hide  ***************/
.hide {
  display: none;
}
.tra,
.login-tab-tit a,
.btn {
  transition: all .4s;
  -moz-transition: all .4s;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
}
.rd3 {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.li-fl li {
  float: left;
}
