table {
  border: none;
  border-spacing: 0;
  border-collapse: collapse;
  background-color: #fff;
}
table th {
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  border: 1px solid #ddd;
  border-bottom: 2px solid #ddd;
}
table td {
  height: 40px;
  line-height: 40px;
  border: 1px solid #ddd;
  padding: 0 10px;
  text-align: center;
  font-size: 12px;
  vertical-align: middle;
}
.table .op a {
  padding: 3px;
  color: #3ca2e2;
}
.table .op a:hover {
  color: #54b1ec;
}
