<div class="m-contacts container-fluid">
	<div class="page-header">
	    <h2>我的人脉圈</h2>
	</div>
	<div class="top-bar">
		<input class="form-control" type="text">
		<button class="btn btn-primary">查询</button>
		<button class="btn btn-primary" ng-click="events.postArticle()">发表帖子</button>
	</div>
	<div class="panel panel-default">
	    <div class="panel-heading">帖子列表
			<div class="btn-group" dropdown>
		      <button type="button" class="btn btn-danger">b{{current_category.name}}</button>
		      <button type="button" class="btn btn-danger dropdown-toggle" dropdown-toggle>
		        <span class="caret"></span>
		        <span class="sr-only">Split button!</span>
		      </button>
		      <ul class="dropdown-menu" >
		        <li ng-repeat="item in data.category.sub">
			        	<a href="javascript:void(0)" ng-click="events.selectCategorys(item)">b{{item.name}}</a>
			      </li>
		      </ul>
		    </div>
	    </div>

	    	<ul class="list-group">
			  	<li class="list-group-item">帖子列表1</li>
			  	<li class="list-group-item">帖子列表2</li>
			  	<li class="list-group-item">帖子列表3</li>
			</ul>
	    
	</div>

</div>
