.m-user-info .user-info {
  position: relative;
}
.m-user-info .user-info .head-Img {
  position: absolute;
  top: 70px;
  left: 20px;
  width: 200px;
  height: 200px;
  box-shadow: 2px 2px 5px 0px #ccc;
  border: 1px solid #ccc;
}
.m-user-info .user-info .head-Img img {
  width: 100%;
  height: 100%;
}
.m-user-info .user-info .head-Img::after {
  content: '';
  position: absolute;
  top: -25px;
  right: -50px;
  width: 1px;
  height: 130%;
}
.m-user-info .user-info .info {
  margin-left: 300px;
}
.m-user-info .user-info .info td {
  border-top: none;
}
.m-user-info .user-info .info .left-text {
  padding-right: 20px;
  width: 150px;
  text-align: right;
}
.m-user-info .user-info .info .radio label {
  padding-left: 40px;
}
.m-user-info .upload-head-img {
  padding-bottom: 50px;
}
.m-user-info .upload-head-img .existing-img {
  position: relative;
  margin: 0 auto;
  width: 700px;
  height: 200px;
  border: 1px solid #ccc;
  box-shadow: 3px 3px 8px 0 #ccc;
  overflow: hidden;
}
.m-user-info .upload-head-img .existing-img .img img {
  width: 100%;
}
.m-user-info .upload-head-img .existing-img .img .text {
  margin-top: 5px;
  text-align: center;
}
.m-user-info .upload-head-img .existing-img .img.img-l {
  margin: 30px;
  margin-left: 90px;
  width: 120px;
}
.m-user-info .upload-head-img .existing-img .img.img-m {
  position: absolute;
  top: 54px;
  left: 316px;
  width: 80px;
}
.m-user-info .upload-head-img .existing-img .img.img-s {
  position: absolute;
  top: 65px;
  left: 472px;
  width: 80px;
  text-align: center;
}
.m-user-info .upload-head-img .existing-img .img.img-s img {
  width: 60px;
}
