<div class="m-advice container-fluid">
	<div class="page-header">
	    <h1>意见反馈 <small>遇到问题了？尽管告诉我们吧！</small></h1>
	</div>
	<form class="form-horizontal" name="form_advice" novalidate="novalidate">
		<!-- <div class="form-group">
		    <label class="col-xs-2 control-label">选择类型:</label>
		    <div class="col-xs-8">
		    	<label class="radio-inline">
					<input type="radio" name="advice_type" value="1" 
						   ng-model="advice_data.type"> 故障投诉
				</label>
				<label class="radio-inline">
					<input type="radio" name="advice_type" value="2"
						   ng-model="advice_data.type"> 改善建议
				</label>
				<label class="radio-inline">
					<input type="radio" name="advice_type" value="3"
						   ng-model="advice_data.type"> 新手咨询
				</label>
				<label class="radio-inline">
					<input type="radio" name="advice_type" value="4"
						   ng-model="advice_data.type"> 其他
				</label>
		    </div>
		</div> -->
	<div class="form-group">
	    <label class="col-xs-2 control-label">反馈内容:</label>
	    <div class="col-xs-8">
	     	<textarea class="form-control" rows="10" resize="none"
	     			  placeholder="输入反馈内容,10到500个字符"
	     			  name="content"
	     			  required
	     			  ng-minlength='10'
	     			  ng-maxlength='500' 
	     			  ng-model="advice_data.content"></textarea>
	     	<div class="content-msg alert alert-danger" ng-if="form_advice.content.$dirty && form_advice.content.$invalid">
	     		<span ng-if="form_advice.content.$error.required">内容不能为空</span>
	     		<span ng-if="form_advice.content.$error.minlength">不能少于10个字符</span>
	     		<span ng-if="form_advice.content.$error.maxlength">不能超过500个字符</span>
	     		
	     	</div>
	    </div>
	</div>
	<!-- <div class="form-group">
		<label class="col-xs-2 control-label"
			   >联系方式:</label>
	
	    <div class="col-xs-4">
	    	<input type="text" class="form-control" placeholder="输入您的手机号码"
	    		   name="tel"
	    		   ng-model="advice_data.tel"
	    		   ng-pattern="/^1[0-9]{10}$/"
	    		   required>
	    </div>
	    <div class="col-xs-6">
	    	<i class="glyphicon" ng-class="{'glyphicon-ok text-success': form_advice.tel.$dirty && form_advice.tel.$valid,'glyphicon-remove text-danger':form_advice.tel.$dirty && form_advice.tel.$invalid}"></i>
	    	<span class="text-danger" 
	    		ng-if="form_advice.tel.$dirty && form_advice.tel.$invalid">
	
	    		<span ng-if="form_advice.tel.$error.pattern">
	    			手机号格号码式不正确
	    		</span>
	    		<span ng-if="form_advice.tel.$error.required">手机号不能为空</span>
	    	</span>
	
	    </div>
	</div> -->
	<div class="form-group">
	    <div class="col-xs-offset-2 col-xs-8">
	      <button type="submit" class="btn btn-primary"
	      		  ng-click="events.submit($event)"
	      		  ng-disabled="form_advice.$invalid">提交</button>
	    </div>
	  </div>
	</form>
</div>
