<div>
	<div class="page-header">
	  <h4>修改密码</h4>
	</div>
	<form class="form-horizontal" name="form_password">
	  <div class="form-group">
	    <label for="oldPassword" class="col-sm-2 control-label">原密码</label>
	    <div class="col-sm-6">
	      <input type="password" class="form-control" id="oldPassword" placeholder="请输入原密码"
	      		 name="oldPassword"
	      		 ng-model="psw_data.oldPassword"
	      		 required
	      		 ng-minlength="6"
	      		 ng-maxlength="18"
	      		 >
	    </div>
	    <div class="col-sm-4">
	    	<i class="glyphicon" ng-class="{'glyphicon-ok text-success':form_password.oldPassword.$dirty && form_password.oldPassword.$valid,'glyphicon-remove text-danger':form_password.oldPassword.$dirty && form_password.oldPassword.$invalid}"></i>
	    	<span class="text-danger"
	    		  ng-if="form_password.oldPassword.$dirty && form_password.oldPassword.$invalid">
	    		<span ng-if="form_password.oldPassword.$error.required">
	    			请输入原密码
	    		</span>
	    		<span ng-if="form_password.oldPassword.$error.minlength || form_password.oldPassword.$error.maxlength">
	    			长度为6-18个字符
	    		</span>	
	    	</span>
	  	</div>
	  </div>
	  
	  <div class="form-group">
	    <label for="newPassword" class="col-sm-2 control-label">新密码</label>
	    <div class="col-sm-6">
	      <input type="password" class="form-control" id="newPassword" placeholder="请输入新密码"
	      		 name="newPassword" 
	      		 ng-model="psw_data.newPassword"
	      		 required
	      		 ng-minlength="6"
	      		 ng-maxlength="18">
	    </div>
	    <div class="col-sm-4">
	    	<i class="glyphicon" ng-class="{'glyphicon-ok text-success':form_password.newPassword.$dirty && form_password.newPassword.$valid && !psw_data.same_o_pwd,'glyphicon-remove text-danger':form_password.newPassword.$dirty && (form_password.newPassword.$invalid || psw_data.same_o_pwd)}"></i>
	    	<span class="text-danger"
	    		  ng-if="form_password.newPassword.$dirty && form_password.newPassword.$invalid">
	    		<span ng-if="form_password.newPassword.$error.required">
	    			新密码不能为空
	    		</span>
	    		<span ng-if="form_password.newPassword.$error.minlength || form_password.newPassword.$error.maxlength">
	    			长度为6-18个字符
	    		</span>	
	    	</span>
	    	<span class="text-danger" ng-if="form_password.newPassword.$dirty && form_password.newPassword.$valid && psw_data.same_o_pwd">
	    		新密码必须与旧密码不同
	    	</span>
	  	</div>
	  </div>
	  
	  <div class="form-group">
	    <label for="conPassword" class="col-sm-2 control-label">确认新密码</label>
	    <div class="col-sm-6">
	      <input type="password" class="form-control" id="conPassword" placeholder="再次输入新密码"
	      		 name="conPassword" 
	      		 required 
	      		 ng-model="psw_data.conPassword"
	      		 ng-minlength="6"
	      		 ng-maxlength="18">
	    </div>
	    <div class="col-sm-4">
	    	<i class="glyphicon" ng-class="{'glyphicon-ok text-success':form_password.conPassword.$dirty && psw_data.same_n_pwd && form_password.conPassword.$valid,'glyphicon-remove text-danger':form_password.conPassword.$dirty && (form_password.conPassword.$invalid || !psw_data.same_n_pwd)}">
	    	</i>
	    	<span class="text-danger" ng-if="form_password.conPassword.$dirty && form_password.conPassword.$invalid">
	    		<span ng-if="form_password.conPassword.$error.required">
	    			新密码不能为空
	    		</span>
	    		<span ng-if="form_password.conPassword.$error.minlength || form_password.conPassword.$error.maxlength">
	    			长度为6-18个字符
	    		</span>
	    	</span>
	    	<span class="text-danger" ng-if="form_password.conPassword.$dirty && form_password.conPassword.$valid && !psw_data.same_n_pwd">
	    		两次输入不一致
	    	</span>
	  	</div>
	  </div>

	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	      <button type="submit" class="btn btn-primary" ng-click="events.updataPassword($event)"
			ng-disabled="form_password.$invalid || !psw_data.same_n_pwd"
	      >提  交</button>
	    </div>
	  </div>
	</form>
</div>